workflows/google-sheets-line-messaging-api.json
{
  "name": "Google Sheets to Line Messaging API",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "a1b2c3d4-1111-2222-3333-444455556666",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        720,
        300
      ]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "resource": "sheet",
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "range": "A:Z",
        "options": {
          "valueRenderMode": "FORMATTED_VALUE"
        }
      },
      "id": "b2c3d4e5-2222-3333-4444-555566667777",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        940,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c3d4e5f6-3333-4444-5555-666677778888",
              "leftValue": "={{ $json.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d4e5f6g7-4444-5555-6666-777788889999",
      "name": "Check Data Exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1160,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// ประมวลผลข้อมูลจาก Google Sheets สำหรับ Line Messaging API\nconst data = $input.all();\nconst rows = data[0].json;\n\nif (!rows || rows.length === 0) {\n  return [];\n}\n\n// หาแถวล่าสุดที่มีข้อมูล\nconst latestRow = rows[rows.length - 1];\n\n// สร้าง Flex Message สำหรับ Line Messaging API\nconst flexMessage = {\n  \"type\": \"flex\",\n  \"altText\": \"📊 อัปเดตข้อมูลใหม่จาก Google Sheets\",\n  \"contents\": {\n    \"type\": \"bubble\",\n    \"size\": \"kilo\",\n    \"header\": {\n      \"type\": \"box\",\n      \"layout\": \"vertical\",\n      \"contents\": [\n        {\n          \"type\": \"text\",\n          \"text\": \"📊 Google Sheets Update\",\n          \"weight\": \"bold\",\n          \"color\": \"#ffffff\",\n          \"size\": \"lg\"\n        }\n      ],\n      \"backgroundColor\": \"#06C755\",\n      \"paddingAll\": \"20px\"\n    },\n    \"body\": {\n      \"type\": \"box\",\n      \"layout\": \"vertical\",\n      \"contents\": [],\n      \"spacing\": \"md\",\n      \"paddingAll\": \"20px\"\n    },\n    \"footer\": {\n      \"type\": \"box\",\n      \"layout\": \"vertical\",\n      \"contents\": [\n        {\n          \"type\": \"text\",\n          \"text\": `🕐 ${new Date().toLocaleString('th-TH', { timeZone: 'Asia/Bangkok' })}`,\n          \"size\": \"xs\",\n          \"color\": \"#999999\",\n          \"align\": \"center\"\n        }\n      ],\n      \"paddingAll\": \"10px\"\n    }\n  }\n};\n\n// เพิ่มข้อมูลจากแถวล่าสุดลงใน body\nObject.keys(latestRow).forEach((key, index) => {\n  if (latestRow[key] && latestRow[key].toString().trim() !== '') {\n    // เพิ่ม separator ถ้าไม่ใช่รายการแรก\n    if (index > 0) {\n      flexMessage.contents.body.contents.push({\n        \"type\": \"separator\",\n        \"margin\": \"md\"\n      });\n    }\n    \n    flexMessage.contents.body.contents.push({\n      \"type\": \"box\",\n      \"layout\": \"vertical\",\n      \"contents\": [\n        {\n          \"type\": \"text\",\n          \"text\": key,\n          \"size\": \"sm\",\n          \"color\": \"#666666\",\n          \"weight\": \"bold\"\n        },\n        {\n          \"type\": \"text\",\n          \"text\": latestRow[key].toString(),\n          \"size\": \"md\",\n          \"wrap\": true,\n          \"margin\": \"xs\"\n        }\n      ],\n      \"margin\": \"md\"\n    });\n  }\n});\n\n// เพิ่ม Quick Reply Actions\nconst quickReply = {\n  \"items\": [\n    {\n      \"type\": \"action\",\n      \"action\": {\n        \"type\": \"message\",\n        \"label\": \"📊 ดูข้อมูลทั้งหมด\",\n        \"text\": \"ขอดูข้อมูลทั้งหมด\"\n      }\n    },\n    {\n      \"type\": \"action\",\n      \"action\": {\n        \"type\": \"message\",\n        \"label\": \"🔄 รีเฟรช\",\n        \"text\": \"รีเฟรชข้อมูล\"\n      }\n    },\n    {\n      \"type\": \"action\",\n      \"action\": {\n        \"type\": \"uri\",\n        \"label\": \"📝 เปิด Google Sheets\",\n        \"uri\": \"https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID\"\n      }\n    }\n  ]\n};\n\nreturn [{\n  json: {\n    message: flexMessage,\n    quickReply: quickReply,\n    totalRows: rows.length,\n    latestData: latestRow,\n    timestamp: new Date().toISOString(),\n    // สำหรับ fallback เป็น text message\n    textMessage: `📊 อัปเดตข้อมูลใหม่จาก Google Sheets\\n\\n${Object.keys(latestRow).map(key => latestRow[key] ? `${key}: ${latestRow[key]}` : '').filter(Boolean).join('\\n')}\\n\\n🕐 ${new Date().toLocaleString('th-TH', { timeZone: 'Asia/Bangkok' })}`\n  }\n}];"
      },
      "id": "e5f6g7h8-5555-6666-7777-888899990000",
      "name": "Process Sheet Data for Line API",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1380,
        200
      ]
    },
    {
      "parameters": {
        "url": "https://api.line.me/v2/bot/message/push",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_LINE_CHANNEL_ACCESS_TOKEN"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "jsonBody": "={\n  \"to\": \"YOUR_LINE_USER_ID_OR_GROUP_ID\",\n  \"messages\": [\n    $json.message\n  ],\n  \"quickReply\": $json.quickReply\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "f6g7h8i9-6666-7777-8888-999900001111",
      "name": "Line Messaging API - Push Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1600,
        200
      ]
    },
    {
      "parameters": {
        "url": "https://api.line.me/v2/bot/message/push",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_LINE_CHANNEL_ACCESS_TOKEN"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "jsonBody": "={\n  \"to\": \"YOUR_LINE_USER_ID_OR_GROUP_ID\",\n  \"messages\": [\n    {\n      \"type\": \"text\",\n      \"text\": \"ไม่พบข้อมูลใหม่ใน Google Sheets ณ เวลา \" + new Date().toLocaleString('th-TH', { timeZone: 'Asia/Bangkok' })\n    }\n  ]\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "g7h8i9j0-7777-8888-9999-000011112222",
      "name": "Line Messaging API - No Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1600,
        400
      ]
    },
    {
      "parameters": {
        "content": "## 📱 Google Sheets to Line Messaging API Workflow\n\n### การทำงาน:\n1. **Schedule Trigger**: ตรวจสอบทุก 5 นาที\n2. **Google Sheets**: อ่านข้อมูลจาก Google Sheets\n3. **Check Data**: ตรวจสอบว่ามีข้อมูลหรือไม่\n4. **Process Data**: สร้าง Flex Message สำหรับ Line\n5. **Line Messaging API**: ส่งข้อความแบบ Interactive\n\n### ความแตกต่างจาก Line Notify:\n- ส่งข้อความแบบ Flex Message (สวยงาม)\n- มี Quick Reply Actions\n- สามารถส่งไปยัง User/Group เฉพาะ\n- รองรับ Rich Content\n\n### การตั้งค่า:\n- แก้ไข `YOUR_GOOGLE_SHEET_ID`\n- ตั้งค่า Line Channel Access Token\n- ระบุ User ID หรือ Group ID\n- ตั้งค่า Google Service Account",
        "height": 464,
        "width": 389
      },
      "id": "h8i9j0k1-8888-9999-0000-111122223333",
      "name": "Workflow Info",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        480,
        80
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "no_data"
            },
            {
              "name": "message",
              "value": "ไม่พบข้อมูลใหม่ใน Google Sheets"
            },
            {
              "name": "timestamp",
              "value": "={{ new Date().toISOString() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "i9j0k1l2-9999-0000-1111-222233334444",
      "name": "No Data Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        1380,
        400
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Check Data Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Data Exists": {
      "main": [
        [
          {
            "node": "Process Sheet Data for Line API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Data Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Sheet Data for Line API": {
      "main": [
        [
          {
            "node": "Line Messaging API - Push Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Data Response": {
      "main": [
        [
          {
            "node": "Line Messaging API - No Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "56789012-5678-5678-5678-567890123456",
  "id": "5",
  "meta": {
    "instanceId": "56789012345678901234567890123456"
  },
  "tags": [
    {
      "createdAt": "2024-01-15T10:00:00.000Z",
      "updatedAt": "2024-01-15T10:00:00.000Z",
      "id": "11",
      "name": "google-sheets"
    },
    {
      "createdAt": "2024-01-15T10:00:00.000Z",
      "updatedAt": "2024-01-15T10:00:00.000Z",
      "id": "12",
      "name": "line-messaging-api"
    },
    {
      "createdAt": "2024-01-15T10:00:00.000Z",
      "updatedAt": "2024-01-15T10:00:00.000Z",
      "id": "13",
      "name": "automation"
    },
    {
      "createdAt": "2024-01-15T10:00:00.000Z",
      "updatedAt": "2024-01-15T10:00:00.000Z",
      "id": "14",
      "name": "flex-message"
    }
  ]
}