workflows/google-sheets-line-notification.json
{
  "name": "Google Sheets to Line Notification",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "a1b2c3d4-1111-2222-3333-444455556666",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        720,
        300
      ]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "resource": "sheet",
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "range": "A:Z",
        "options": {
          "valueRenderMode": "FORMATTED_VALUE"
        }
      },
      "id": "b2c3d4e5-2222-3333-4444-555566667777",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        940,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c3d4e5f6-3333-4444-5555-666677778888",
              "leftValue": "={{ $json.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d4e5f6g7-4444-5555-6666-777788889999",
      "name": "Check Data Exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1160,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// ประมวลผลข้อมูลจาก Google Sheets\nconst data = $input.all();\nconst rows = data[0].json;\n\nif (!rows || rows.length === 0) {\n  return [];\n}\n\n// หาแถวล่าสุดที่มีข้อมูล\nconst latestRow = rows[rows.length - 1];\n\n// สร้างข้อความสำหรับ Line Notification\nlet message = '📊 **อัปเดตข้อมูลใหม่จาก Google Sheets**\\n\\n';\n\n// วนลูปผ่าน columns ที่มีข้อมูล\nObject.keys(latestRow).forEach(key => {\n  if (latestRow[key] && latestRow[key].toString().trim() !== '') {\n    message += `${key}: ${latestRow[key]}\\n`;\n  }\n});\n\nmessage += `\\n🕐 เวลาที่อัปเดต: ${new Date().toLocaleString('th-TH', { timeZone: 'Asia/Bangkok' })}`;\n\nreturn [{\n  json: {\n    message: message,\n    totalRows: rows.length,\n    latestData: latestRow,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "e5f6g7h8-5555-6666-7777-888899990000",
      "name": "Process Sheet Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1380,
        200
      ]
    },
    {
      "parameters": {
        "authentication": "accessToken",
        "message": "={{ $json.message }}",
        "options": {}
      },
      "id": "f6g7h8i9-6666-7777-8888-999900001111",
      "name": "Line Notify",
      "type": "n8n-nodes-base.lineNotify",
      "typeVersion": 1,
      "position": [
        1600,
        200
      ]
    },
    {
      "parameters": {
        "content": "## 📋 Google Sheets to Line Notification Workflow\n\n### การทำงาน:\n1. **Schedule Trigger**: ตรวจสอบทุก 5 นาที\n2. **Google Sheets**: อ่านข้อมูลจาก Google Sheets\n3. **Check Data**: ตรวจสอบว่ามีข้อมูลหรือไม่\n4. **Process Data**: ประมวลผลข้อมูลและสร้างข้อความ\n5. **Line Notify**: ส่งการแจ้งเตือนไปยัง Line\n\n### การตั้งค่า:\n- แก้ไข `YOUR_GOOGLE_SHEET_ID` ใน Google Sheets node\n- ตั้งค่า Google Service Account credentials\n- ตั้งค่า Line Notify Access Token\n- ปรับ Schedule interval ตามต้องการ",
        "height": 464,
        "width": 389
      },
      "id": "g7h8i9j0-7777-8888-9999-000011112222",
      "name": "Workflow Info",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        480,
        80
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "no_data"
            },
            {
              "name": "message",
              "value": "ไม่พบข้อมูลใหม่ใน Google Sheets"
            },
            {
              "name": "timestamp",
              "value": "={{ new Date().toISOString() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "h8i9j0k1-8888-9999-0000-111122223333",
      "name": "No Data Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        1380,
        400
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Check Data Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Data Exists": {
      "main": [
        [
          {
            "node": "Process Sheet Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Data Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Sheet Data": {
      "main": [
        [
          {
            "node": "Line Notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "34567890-3456-3456-3456-345678901234",
  "id": "3",
  "meta": {
    "instanceId": "34567890123456789012345678901234"
  },
  "tags": [
    {
      "createdAt": "2024-01-15T10:00:00.000Z",
      "updatedAt": "2024-01-15T10:00:00.000Z",
      "id": "4",
      "name": "google-sheets"
    },
    {
      "createdAt": "2024-01-15T10:00:00.000Z",
      "updatedAt": "2024-01-15T10:00:00.000Z",
      "id": "5",
      "name": "line-notify"
    },
    {
      "createdAt": "2024-01-15T10:00:00.000Z",
      "updatedAt": "2024-01-15T10:00:00.000Z",
      "id": "6",
      "name": "automation"
    }
  ]
}